.el-dialog {
   &__header {
      border-bottom: 1px solid #e5e5e5;
      padding: 15px;

      .el-dialog__title {
         font-weight: bold;
         line-height: unset;
      }
   }

   &__headerbtn{
      top: 15px;
      right: 15px;
   }

   &__body {
      padding: 15px;
   }

   &__footer {
      padding: 10px 20px;
      border-top: 1px solid #e5e5e5;
      text-align: center;
   }
}

.el-select{
   width: 100%;
}

.el-form--label-top {
   .el-form-item__label {
      padding: 0;
   }
}
